@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body {
	font-family: 'Open Sans', sans-serif;
}

table {
	width: 80%;
	height: 250px;
	transform:translate(-10%);
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}

.case {
	border: 1px solid black;
	text-align: center;
}

#content {
	height: 80%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	color:#004399;
}